body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
main {
    display: flex;
}

#image {
    width: 40%;
    height: 100vh;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
}

#form {
    width: 60%;
    height: 100vh;
}

#text1 {
    padding-top: 8%;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
}
#text2 {
    font-size: 22px;
    padding-left: 40px;
    font-weight: 500;
}

input:focus {
    border: 3px solid black;
    background: rgba(0, 0, 0, 0.1);
}
input:valid {
    border: 2px solid #596d48;
}
input:invalid {
    border: 2px solid rgb(248, 89, 89);
}

form {
    padding: 20px 0;
    padding-left: 40px;
    background-color: rgba(173, 173, 173, 0.096);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

form div div {
    display: flex;
    flex-direction: column;
}
form div {
    margin-top: 10px;
    margin-right: 80px;
    display: flex;
    /* justify-content: space-evenly; */
}

form legend {
    font-size: 20px;
    font-weight: 500;
}

label {
    font-size: 15px;
}
input {
    height: 30px;
    width: 300px;
    border-radius: 8px;
}

button {
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #596d48;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 20px 45px;
    font-size: 15px;
    font-weight: bold;
}

#login {
    margin: 50px;
    font-size: 20px;
}

a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}
